/* Web App */
section#planner {
	/*margin: 25px;*/
}
div#webapp {
	float:left;
	width:750px;
}
div#sidebar{
	width:150px;
	float:left;
}
ul#objects {
	float:left;
}
img#jqueryapp {
	width:500px;
}
div#messages div{
	font-size:14pt;
	text-align:center;
	border-width:.25em;
	border-style: solid;
	border-bottom-right-radius: .5em;
	border-bottom-left-radius: .5em;
	padding: 5px;
	float:left;
	z-index:999;
	position:absolute;
	width: 1000px;
}

.error {
	background-color: LightCoral ;
	color:DarkRed;
	border-color:DarkRed;
}
.warn {
	background-color: Khaki  ;
	color:GoldenRod;
	border-color:GoldenRod;
}
.success {
	background-color: LightGreen  ;
	color:DarkGreen;
	border-color:DarkGreen;
}
.message {
	background-color: LightSkyBlue;
	color:MidnightBlue ;
	border-color:MidnightBlue;
}
/* Not implimented */
canvas {
	background-color: #fff;
	border:1px solid black;
}

div.designer {
	width: 800px;
	float:left;
	clear:right;
}
/* FORCE VISBLE 
div {
	border: 1px solid black;
}*/
div#design {
	background-color: white;
	width: 750px;
	float:left;
	clear:none;
}
img#designer {
	width: 850px;
}
ul.commands {
	list-style-type:none;
}
div#notes > textarea {
	width: 120px;
}
.ui-accordion .ui-accordion-content {
	padding: 1em !important;
}
div.dragable {
	width: 25px;
	height: 25px;
}
.item {
float: left;
}
div#bin {
	width:32px;
	height:32px;
	position: relative;
	bottom:0;
	right:0;
	float:right;
	background-image: url('../icons/png_32/bin.png');
	margin: 5px;
	padding: 5px;
}
#selectable .ui-selecting { background: #FECA40; }
#selectable .ui-selected { background: #F39814; color: white; }

div#HTML5Planner, div#JQueryUIDesign {
	border: 1px solid black;
}

div.buttons ul, ul.buttons{
	list-style-type: none;
	padding: .25em .25em .25em .25em;
	border-top-right-radius: .25em;
	border-top-left-radius: .25em;
	border-bottom-right-radius: .25em;
	border-bottom-left-radius: .25em;
	border: .1em solid #666;
	margin: 0;
}
div.buttons.tall ul, ul.buttons.tall{
	width: 240px;
}
div.buttons.fullwidth ul, ul.buttons.fullwidth {
	width: 100%;
}
div.buttons.fullwidth ul, ul.buttons.fullwidth {
	float: left;
}
div.buttons ul li, ul.buttons li {
	width:50px;
	height:50px;
	display: block;
	padding: .25em .25em .25em .25em;
	border-top-right-radius: .25em;
	border-top-left-radius: .25em;
	border-bottom-right-radius: .25em;
	border-bottom-left-radius: .25em;
	border: .1em solid #666;
}
div.buttons ul li, ul.buttons li {
	float: left ;
}
div.buttons ul li a, ul.buttons li a {
	vertical-align:middle;
	font-size:10pt;
	line-height: 1em;
}
div.buttons.smalltext ul li a, ul.buttons.smalltext li  {
	font-size:10pt;
	width: 75px;
	height: 75px;
}
div#sidebar {
	width: 150px;
	height:100%;
	height:700px;
	background-color: black;
}
div.clear {
	clear: both;
}
.hidden {
	display: none;
}