/* Theme - High Contrast */
body {
	background-color:black;
}
section {
	background-color:white;
}
header h1 {
	font-family: Impact, Charcoal, sans-serif;
	color:#aaa;
}
div#logo2 {
	background: url('../images/logo.png') no-repeat 0 0;
	width:150px;
	height:70px;
	border:0;
	padding: 0;
	margin:0;
}
div#logo {
	background-color: black;
	margin:10px;
	padding: 10px;
	max-width:150px;
}
div#logo2 a{
    display : block;
    height : 113px;
    text-indent : -9999px;
}
footer {
	background-color: #333;
}