<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
	<title>RENAISSANCE - Layout Designer</title>

	<!-- Stylesheets -->
		<link rel="stylesheet" type="text/css" href="assets/css/foundation.css"/>
	<link rel="stylesheet" type="text/css" href="assets/css/theme.css"/>
	<link rel="stylesheet" type="text/css" href="assets/css/layout.css"/>
	<link rel="stylesheet" type="text/css" href="assets/css/index.css"/>


	<!-- Javascript -->

	<!-- JQuery -->
	<script src="assets/js/jquery-2.1.1.min.js"></script>
	<script src="assets/js/jquery.mousewheel-3.0.6.pack.js"></script>

	<!-- JQuery UI -->
	<link rel="stylesheet" href="assets/JQueryUI/jquery-ui.min.css">
	<link rel="stylesheet" href="assets/JQueryUI/jquery-ui.structure.min.css">
	<link rel="stylesheet" href="assets/JQueryUI/jquery-ui.theme.min.css">
	<script src="assets/JQueryUI/jquery-ui.min.js"></script>
	<!-- FancyBox -->
	<link rel="stylesheet" href="assets/FancyBox/jquery.fancybox.css">
	<link rel="stylesheet" href="assets/FancyBox/helpers/jquery.fancybox-thumbs.css">
	<link rel="stylesheet" href="assets/FancyBox/helpers/jquery.fancybox-buttons.css">
	<script src="assets/FancyBox/jquery.fancybox.pack.js"></script>
	<script src="assets/FancyBox/helpers/jquery.fancybox-buttons.js"></script>
	<script src="assets/FancyBox/helpers/jquery.fancybox-thumbs.js"></script>
	<script src="assets/FancyBox/helpers/jquery.fancybox-media.js"></script>

	<!-- Custom JS -->
	<script src="assets/js/scripts.js"></script>
	<script src="assets/js/index.js"></script>
</head>
</head>
<body>

<!-- Header -->
<header>
	<h1>Designer</h1>
	<nav></nav>
	<div id='logo'>
		<div id='logo2'>
			<a href="#">...</a>
		</div>
	</div>
</header>


{% block content %}{% endblock %}

<!-- Footer -->	
{% include 'views/footer.html' %}
</body>
</html>