<!-- HTML Version -->
<div id="HTML5Planner" class="designer hidden">
	<div id="sidebar"></div>
	<canvas width="800" height="500" id="html5app">
		<strong>Unsupported Browser</strong><br />This application requries HTML5, however the browser you are using *** doesn't support HTML5 canvas tags. We reccomend you switch to a more uptodate browser that supports HTML5 Canvas (Firefox)
	</canvas>
</div>