<!--JQuery UI Version -->
<div id='JQueryUIDesign' class="designer hidden">
	<div id="sidebar"></div>
	<img id='jqueryapp' src="resource/images/empty.png"/>
	<div id='bin'></div>
	<div id='newobjects'>
		<em>Objects are created here</em>
	</div>
</div>