{% extends "HTML5.html" %}
{% block content %}
<section>
<h1>Oops! An Error Occurred</h1>
<p>The server returned a "{{ status_code }}" error saying <strong>{{ status_text }}</strong>.</p>
</section>
{% endblock %}