<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>An Error Occurred: {{ status_text }}</title>
    <style type="text/css">
    header, footer, section {
    	margin: 0 auto;
    	width: 800px;
    }
    </style>
</head>
<body>
{% include 'header.html' %}

<section>
<h1>Oops! An Error Occurred</h1>
<h2>The server returned a "{{ status_code }} {{ status_text }}".</h2>
</section>

	{% include 'footer.html' %}

</body>
</html>