<footer class="container">
<ul class="nav nav-pills">
<li>&copy; Martyn Bristow 2014</li>
<li><a href="/shutdown"><i class="fa fa-power-off"></i></a></li>
&nbsp;
</ul>
<div class="clear">&nbsp;</div>&nbsp;
</footer>