<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{title}}</title>
	<!-- Stylesheets -->
	{% for n in css %}
		<link rel="stylesheet" type="text/css" href="/resource/{{n}}"/>
	{% endfor %}

	<!-- Javascript -->
	{% for n in js %}
		<script src="/resource/{{n}}"></script>
	{% endfor %}

</head>
</head>
<body>

<!-- Header -->	
{% include 'header.html' %}
<div class="container">
<!-- Content -->	
{% block content %}
{% endblock %}
</div>
<!-- Footer -->	
{% include 'footer.html' %}
</body>
</html>