<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
	<title>RENAISSANCE - Layout Designer</title>

	<!-- Stylesheets -->
	{% for n in css %}
		<link rel="stylesheet" type="text/css" href="resource/{{n}}"/>
	{% endfor %}

	<!-- Javascript -->
	{% for n in css %}
		<link rel="stylesheet" type="text/css" href="resource/{{n}}"/>
	{% endfor %}

</head>
</head>
<body>

<!-- Header -->	
{% include 'header.html' %}

<!-- Content -->	
{% block content %}
{% endblock %}
<!-- end content-->
{% include 'designer_jqueryui.html' %}
{% include 'designer_html5.html' %}
<!-- Footer -->	
{% include 'footer.html' %}
</body>
</html>