{% extends "HTML5.html" %}
{% block content %}
<section>
<form method="POST" action="/login" name="login">
<label >Username</label><input name="username" type="text">
<label>Password</label><input name="password" type="password">
<button type="submit" value="Login">Login</button>
</form>
</section>
{% endblock %}