{% extends "HTML5.html" %}
{% block content %}
<!-- Intro -->
<section id='intro'>Welcome to Room Planner</section>

<!-- Client -->
<section id='client'>
	<h3>Client Details</h3>
	<p>Name:</p>
	<p>Booking Information:</p>
</section>
<app-client></app-client>
<app-body></app-body>
<!-- Begin Application -->
<section id='planner'  class="clearfix">
<div id='messages'>
	<div id='default' class="error">Application Failed to Initialise. Check you have JavaScript enabled!</div>
</div>

	<div id="webapp">
	</div>
	<div class="clear">&nbsp;</div>
	<!--<div id="tools" class="buttons fullwidth"></div>-->
	<ul id="tools" class="buttons fullwidth">
		{% for key, value in functions.iteritems() %}
		<li><a id="{{ value }}" href="{{ value }}">{{ key }}</a></li>
		{% endfor %}
	</ul>

</section>
{% endblock %}